@media (max-width: 1098px ) {
    .carousel {
        margin: 0 auto;
        width: 900px;
        .container {
            .carousel__inner {
                width: 750px;
            }
        }
    
        .prev, .next{ 
            left: 20px;

        }
    
        .next {
            right: 50px;
            left: auto;
        }
    
        img {
                
            width: 600px;
            display: block;
            margin: 0 auto;
            
        }
    }
}


@media (max-width: 980px) {
    .consultation {
        padding-left: 30px;
        .title {
            font-size: 33px;
        }
    }
} 

@media (max-width:960px) {
    header {
        margin: 0 auto;
        width: 900px
    }

    .promo__wrapper {
        margin-right: 35px;
        
    }

    
}

@media (max-width:920px) {
    header {
        width: 780px
    }
    .advantages {
        width: 100%;
    }


    .carousel {
        margin: 0 auto;
        width: 700px;
        .container {
            .carousel__inner {
                width: 550px;
            }
        }
    
        .prev, .next{ 
            left: 80px;

        }
    
        .next {
            right: 80px;
            left: auto;
        }
    
        img {
                
            width: 400px;
            display: block;
            margin: 0 auto;
            
        }
    }  
    
}




@media (max-width:808px) {
    header {
        width: 80%;
        .header__logo {
            width: 42%;
        }

        .header_phone {
            font-size: 16px;
        }
    }
    .promo {
        .promo__wrapper {
            margin-right: 0;
            align-items: center;
        }
    }
}

@media (max-width:798px) {
    
    header {
        .header__phone {
            font-size: 16px;
        }
    }

    .promo {
        .promo__wrapper {
            .button {
                margin-top: 40px;
            }
        }
    }

    .advantages {
        .advantages__icons {
            
            .advantages__item {
                img {
                    width: 50px;
                    
                }

                .advantages__text {
                    margin-top: 15px;

                }
                .advantages__descr {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width:763px) {
    .consultation {
        padding-left: 0px;
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                text-align: center;
                font-size: 29px;
            }

            .consultation__descr {
                text-align: center;
            }
        }
    }
}



@media (max-width: 749px) {
    header {
        .header__official  {
            display: none;
        }
    }
} 

@media (max-width: 716px) {
    .carousel {
        margin: 0 auto;
        width: 500px;
        .container {
            .carousel__inner {
                width: 500px;
            }
        }
        .prev, .next{
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            left: 60px;
            
            
            
            img {
                width:21px;
                height: 40px;
            }
        }
    
        .next {
            right: 60px;
            left: auto;
        }
    
        img {
                
            width: 300px;
            display: block;
            margin: 0 auto;
            
        }
    }  
}

@media (max-width: 652px ) {
    .consultation {
        .container {
            .title {
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 548px) {
    .promo {
        .promo__wrapper {
            .promo__header {
                font-size: 35px;
            }
            .promo__subheader {
                font-size: 21px;
            }
        }
    }

    .catalog {
        padding-bottom: 60px;

        
        .title {
            font-size: 25px;
        }

        &__tabs {
            margin-top: 40px;
        }

        &__tab {
            width: 140px;
            height: 43px;
            font-size: 14px;
            line-height: 38px;
        }

        &__content {
            justify-content: center;
        }
    }


    .feedback {
        &__item {
            flex-direction: column;
            text-align: center;
        }
        &__name {
            margin-top: 20px;
            text-align: center;
        }
        &__text {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        &__descr {
            font-size: 15px;
            line-height: 20px;
        }
    }
}

@media (max-width: 500px) {
    .advantages {
        height: 700px;
        .advantages__icons {
            flex-direction: column;
            align-items: center;
        }
    }


    .carousel {
        display: block;
        
        margin: 0 auto;

        width: 450px;
        .container {
            .carousel__inner {
                width: 450px;
            }
        }
        .prev, .next{
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            left: 60px;
            
            
            
            img {
                width: 15px;
                height: 30px;
            }
        }
    
        .next {
            right: 60px;
            left: auto;
        }
    
        img {
                
            width: 250px;
            display: block;
            margin: 0 auto;
            
        }
    } 


    .catalog {
        .title {
            font-size: 21px;
        }

        &__tab {
            width: 110px;
            height: 43px;
            font-size: 12px;
            line-height: 35px;
        }

        .catalog-item {
            width: 270px;


            &__price {
                font-size: 17px;
                line-height: 19px;

            }

        }

        .button_mini {
            width: 100px;
        }
    }

    .feedback {
        &__item {
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            width: 400px;
            
        }
    }
}

@media (max-width:459px) {
    .footer {
        
        &__info {
            padding-top: 30px;
            width: 320px;
            height: 200px;
        }

        &__addr {
            font-size: 18px;
            line-height: 16px;
        }
        &__phone {
            font-size: 18px;
            line-height: 0px;
            margin-bottom: 20px;
        }

        &__social {
            width: 180px;

        }
        &__round {
        
            height: 45px;
            width: 45px;
        }
        &__social-item {
            @include central;
            width: 25px;
            height: 25px;
        }
    }
}

@media (max-width:434px) {
    .carousel {
        display: block;
        
        margin: 0 auto;

        width: 350px;
        .container {
            .carousel__inner {
                width: 350px;
            }
        }
        .prev, .next{
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            left: 20px;
            
            
            
            img {
                width: 15px;
                height: 30px;
            }
        }
    
        .next {
            right: 20px;
            left: auto;
        }
    
        img {
                
            width: 250px;
            display: block;
            margin: 0 auto;
            
        }
    } 
}

@media (max-width: 424px) {
    .promo {
        .promo__wrapper {
            .promo__header {
                font-size: 29px;
            }
            .promo__subheader {
                font-size: 17px;
            }
            .promo__icons {
                width: 329px;
            }
        }

        
    }
    .consultation {
        .container {
            .title {
                font-size: 22px;
            }

            .consultation__descr {
                display: none;
            }
        }
    }
} 

@media (max-width: 411px) {
    .promo {
        .promo__wrapper {
            margin-top: 40px;
        }
        header {
            flex-direction: column;
            align-items: center;

            .header__logo {
                width: 252px;
            }

            .header__contacts {
                margin-top: 30px;
            }
        }

    }
    .feedback{
        &__item {
            width: 350px;
        }
    }
} 

@media (max-width:363px) {
    .catalog {
        &__tabs {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 150px;
        }

        &__tab {
            width: 150px;
        }
    }

    .carousel {
        display: block;
        
        margin: 0 auto;

        width: 300px;
        .container {\watch
            .carousel__inner {
                width: 300px;
            }
        }
        .prev, .next{
            position: absolute;
            top: 40%;
            transform: translateY(-40%);
            left: -7px;
            
            
            
            img {
                width: 15px;
                height: 30px;
            }
        }
    
        .next {
            right: -7px;
            left: auto;
        }
    
        img {
                
            width: 250px;
            display: block;
            margin: 0 auto;
            
        }
    } 

    .feedback {
        &__item {
            width: 300px;
        }
    }
}


@media (max-width:353px) {
    .advantages {
        .title {
            font-size: 26px;
        }
    }

    .consultation {
        
        .container {
            .title {
                font-size: 19px;
            }

            .feed-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                input {
                    width: 230px;
                }
                .button_submit {
                    width: 230px;
                }
            }
        }
    }
}

@media (max-width: 327px) {


    .promo {
        .promo__wrapper {
            .promo__header {
                font-size: 25px;
            }
            .promo__subheader {
                font-size: 14px;
            }

            .promo__icons {
                flex-direction: column;
                align-items: center;
                margin-top: 25px;
                width: 100%;
            }

            .button {
                width: 255px;
                height: 47px;
            }
        }

        
    }
}